main{
  height: 100%;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color: var(--accent);
}

/* @@@@@@@@ THEME TOGGLER CSS @@@@@@@@@@ */

#themeToggler{
  position: fixed;
  top: 5%;
  right: 5%;
}
