body{
  height: 100vh;
  width: 100vw;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background);

  margin: 0;
  padding: 0;
}

h1{
  color: var(--accent);
}

/* @@@@@@@@ THEME TOGGLER CSS @@@@@@@@@@ */

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#lightbulb{
  position: fixed;
  top: 3%;
  right: 2%;
  z-index: 100;

  cursor: pointer;
}

#darkbulb{
  position: fixed;
  top: 3%;
  right: 2%;
  z-index: 100;
  
  cursor: pointer;
  animation: ease-in;
}

#lightbulb:hover{
  transform: scale(1.05);
}

#darkbulb:hover{
  transform: scale(1.05);
}

#lightglow{
  position: fixed;
  top:7%;
  right: 4%;

  width: 20px;
  height: 20px;

  border-radius: 50%;

  background-color: #fff;
  box-shadow:
  0 0 60px 30px rgb(235, 234, 202),
  0 0 100px 40px rgb(231, 233, 101),
  0 0 140px 70px rgb(255, 238, 4);

  animation: fadeIn .4s;
}

#darkglow{
  position: fixed;
  top:7%;
  right: 4%;

  width: 20px;
  height: 20px;

  border-radius: 50%;

  background-color: #fff;
  box-shadow:
  0 0 60px 30px rgb(65, 3, 3),
  0 0 100px 60px rgb(56, 4, 4),
  0 0 140px 70px rgb(170, 5, 14) ;

  animation: fadeIn .4s;
}

#lighpumpkin{
  position: fixed;
  bottom:7%;
  left: 4%;

  animation: fadeIn 1s;
}

#darkpumpkin{
  position: fixed;
  bottom:7%;
  left: 4%;
  
  animation: fadeIn 1s;
}

.sumir{
  display: none;
}
