:root {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;

  scroll-behavior: smooth;

  box-sizing: border-box;

  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

[data-theme='dark'] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}
